main h1{
	font-family:"open sans condensed", sans-serif;
	font-size: 300%;
	background-color: rgb(120,30,60);
	color:rgb(255,255,255);
	text-align: center;
	padding: 2rem;
	margin: 0px;
	border-bottom: .5rem #000000 solid;
	text-transform: uppercase;
}

main div{	
	width: 720px;
	margin: 0 auto 0 auto;
		padding-bottom: 4rem;

}
h2{
	font-family:"open sans condensed", sans-serif;
	font-size: 2em;
	clear:both;
	;
}

p{
	font-family: "crimson text", sans-serif;
	font-size: 120%;
	text-align: justify;
	line-height:2;
	margin: 1em 0 1em 0;
}

p strong{
	font-weight: bold;
}
p em{
	font-style: italic;
}
a {
	color:#851944;
	text-decoration: none;
}


blockquote{
	background-color:#D9E5E3;
	padding: 2rem;
	border: .7rem #C2CCCA solid;
	border-bottom-color: #333;
	border-right-color: #FFF;
	width: 17rem;
	box-sizing: border-box;
}
.fiat{
	float:right;
}
.petrobras{
	float:left;
}
aside{
	font-family: "Open Sans condensed", sans-serif;
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 1.6rem 0 1.6rem 0;
	text-align: center;
}
.icones-sociais li{	
	display: inline-block;
}

nav h1{font-size: 2.3em;
	padding-bottom: 3rem;}

ul{
	color:#F2FFFC;
	font-size:1.3em;
	padding-bottom: 1.2rem;
}

ul li a{
	color:inherit;
}

footer{
	font-family: "Open Sans condensed", sans-serif;
	background-color: #000000;
	color:#F2FFFC;
	padding: 1em 0 1em 0;
}

.icones-sociais a{
	display:inline-block;
	width:2em;
	height: 2em;
	text-indent: -9999px;
}

.github{
	background-image: url(imagem/github.png)
}

.twitter{
	background-image: url(imagem/twitter.png)
}
.linkedin{
	background-image: url(imagem/linkedin.png);
}
aside{
	float:right;
			width:20%;
			position:relative;
			top:20rem;

}
aside{
	clear:right;
}

main{
	float:left;
	width: 80%;
}
footer{
	clear: both;
	position:fixed;
	bottom:0px;
	width: 100%;
}
img{
	position: absolute;
	top:0px;
	right:0px;
	border: .8rem #000000 solid;
}

